@import "tailwindcss";

@theme {
  --color-neutral-950: #000000;
  --color-neutral-0: #FFFFFF;

  --color-slate-900: #1A2A33;
  --color-slate-850: #21313B;
  --color-slate-800: #1F3641;
  --color-slate-300: #A8BFC9;
  --color-slate-100: #DBE8ED;

  --color-amber-400: #F2B137;
  --color-amber-300: #FFC860;

  --color-teal-400: #31C3BD;
  --color-teal-300: #65E9E4;

  --font-outfit: "Outfit", sans-serif;
  --text-base: 16px;
  --leading-base: 125%;
  --tracking-base: 1px;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "Outfit", sans-serif;
}